.add__user,
.edit__user{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width:200px ;
}
h2{
  text-align: center;
}
.user{
  border: 1px solid green;
  border-radius: 10px;
  width: fit-content;
  padding: 8px;
}
.users{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.user:hover{
  background-color: lightgray;
}
.user__buttons{
  display: flex;
  gap: 5px;
}